# Configuración de Django
DJANGO_SECRET_KEY=tu_secret_key_aqui
DJANGO_DEBUG=True

# Configuración de la Base de Datos para Docker
DB_NAME=gympower_db
DB_USER=postgres
DB_PASSWORD=escribe_aqui_una_contrasena_segura
DB_HOST=db
DB_PORT=5432