# Entornos virtuales
devenv/

# Carpeta de base de datos local (Evita bloqueos de permisos)
gym_project_postgres_data-cloned/

# Archivos comprimidos de copias de seguridad de la base de datos
*.tar.gz
*.tar
*.sql

# Python (Caché y compilados)
__pycache__/
*.pyc

# Variables de entorno y credenciales
.env